.o_hr_skills_group {
    padding: 0 calc(var(--gutter-x) * 1)!important;
    &:first-child {
        padding-left: calc(var(--gutter-x) * .5)!important;
    }
    &:last-child {
        padding-right: calc(var(--gutter-x) * .5)!important;
    }
    .o_list_renderer {
        overflow-x: hidden!important;
    }
}
.btn-apply{
    background-color: #28A745;
    border-color: #28A745;
    color: #FFFFFF;
}

.btn-block-card{
    background-color: #DC3545;
    border-color: #DC3545;
    color: #FFFFFF;
}

.btn-warning{
    color: #FFFFFF;
}